.nav-item-icon {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: var(--text-color);
        text-decoration: none;
    }

    .icon-button {
        cursor: pointer;
        border-radius: 10px;
        padding: 5px;
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: filter 300ms;
    }

    .icon-button:hover {
        filter: brightness(1.2);
    }

    .icon-button svg {
        margin-top: 4px;
        fill: var(--text-color);
        width: 20px;
        height: 20px;
    }
}
