@import-normalize;

* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background: var(--bg-primary);
    color: var(--text-on-bg);
}
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
    &[default] {
        text-decoration: underline;
    }
    -webkit-tap-highlight-color: transparent;
}
