@font-face {
    font-family: 'MustangW01-Regular';
    src: local('MustangW01-Regular'), url(./fonts/mustang.ttf) format('truetype');
}

body {
    margin: 0;
    background: #151616;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

#root {
    display: flex;
    flex-direction: column;
}

body,
#root {
    height: 100%;
}

html {
    height: 100%;
}

.content-wrapper {
    flex: 1 0 auto;
}
