.top-intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;

    .intro-text {
        width: 50%;
        margin: 10px;

        .header-text {
            color: white;
        }
        .description {
            color: white;
            max-width: 90%;
        }
    }

    .profile-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}
